<div class="todo_container">
    <p class="todo_title">ng2do</p>

    <div id="todo_form_container">
        <form name="todoForm"
              (submit)="add(todoForm.message)">

            <input type="text"
                   name="message"
                   [(ngModel)]="todoForm.message"
                   placeholder="What do you have to do?"
                   autofocus
                   class="todo_input" />

            <button type="submit"
                    class="todo_button"
                    [disabled]="!todoForm.message.length">+</button>
        </form>

        <div id="todo_list_container">
            <br>

            <h3 class="nothing_to_do"
                [hidden]="todoList.length">Nothing to do. Go play outside :D</h3>

            <div class="todo_item" *ngFor="let t of todoList; trackBy:customTrackBy">

                <span [innerText]="t.message"></span>

                <button type="button"
                        (click)="remove(t.createdAt)"
                        class="todo_exclude_item">x</button>
            </div>
        </div>
    </div>
</div>
